.banniere{
    height: 950px;
    @include flex_row;
    justify-content:end;
    align-content:start;
    color: white;
    background-image: url(../../assets/images/background\ 2000.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
    
    .banniere-content{
  margin-top: 200px;
  padding-right: 150px;
        @include flex_column;
  p{
    font-size: 1.3em;
    margin: 0;
  }
  }
  h1{
    font-size: 1.3em;
    color: $color-secondary;
    margin-bottom: 0;
  }