// body {
//     font-family: "PPNeueMontreal-Medium", sans-serif;
//     font-family: "PPNeueMontreal-Italic", sans-serif;
//     font-family: "PPNeueMontreal-BoldItalic", sans-serif;
//     font-family: "PPNeueMontreal-Bold", sans-serif;
//   }
// PPNeueMontreal-Italic
// PPNeueMontreal-BoldItalic
// PPNeueMontreal-Bold
// PPNeueMontreal-Medium

.medium{
    font-family: "PPNeueMontreal-Medium", sans-serif;
    font-weight: 400;

}

.bold {
    font-family: "PPNeueMontreal-Bold", sans-serif;
  
 }

 .italic {
     font-family: "PPNeueMontreal-Italic", sans-serif;
 }

.bold-italic {
    font-family: "PPNeueMontreal-BoldItalic", sans-serif;
}
